ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
  }

  li a {
    float: left;  
    display: inline;
    padding: 15px;
    color: black;
    opacity: 0.75;
    text-decoration: none;
  }

  li a:hover {
    text-decoration: underline;
  }

  #header {
    margin: 0px, 0px, 0px, 40px;
    font-family: arial, sans-serif;
    font-size: 13px;
  }

  #logo {
    padding-top: 100px;
  }

  #search_bar {
    height: 34px;
  }

